.profile {
    display: flex;
}

.profile-right {
    flex: 9;
}

.profile-cover {
    height: 20rem;
    position: relative;
}

.profile-cover-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}


.profile-user-image{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 9rem;
    border: 3px solid white;

}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info-name {
    font-size: 1.5rem;
}

.profile-info-desc{
    font-weight: 300;
}

.profile-right-bottom {
    display: flex;
}