.login {
    width: 100vw;
    height: 100vh;
    background-color: rgb(206, 205, 205);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.login-left, 
.login-right
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-logo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 0.625rem;
}

.login-description{
    font-size: 1.5rem;
}

.login-box{
    height: 300px;
    padding: 1.25rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-input{
    height: 3rem;
    border-radius: 0.625rem;
    border: 1px solid gray;
    font-size: 1rem;
    padding-left: 1.5rem;
}

.login-input:focus{
    outline: none;
}

.login-button{
    height: 3.125rem;
    border-radius: 0.625rem;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.login-forgot{
    text-align: center;
    color: #1775ee;
    cursor: pointer;
}

.login-register{
    width: 65%;
    align-self: center;
    height: 3.125rem;
    border-radius: 0.625rem;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}
